* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, p, span, a {
    height: 40px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

div {
    background-color: #e74c3c;
}

p {
    background-color: #9b59b6;
}

span {
    background-color: #3498db;
}

a {
    background-color: #2ecc71;
}