body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 1rem;
  padding: 8px;
  margin: 0;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 8px 24px;
  display: flex;
  align-items: center;
}
