@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

h1 {
  margin-left: 4rem;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
img {
  box-shadow: 10px 5px 5px rgba(00, 00, 00, 0.5);
}

p {
    padding: 0 10rem;
    margin: 4rem 4rem 0 4rem;
}
