#transition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

button:hover {
    scale: 1.2;
    transition-duration: 0.3s;
    transition: ease-in-out;
}
