@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    position: fixed;
}

h1 {
    background-color: aquamarine;
}

.content {
    background-color: blue;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    background-size: 10%;
}
